# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project

# logs file #
logs/

#src/main/webapp/js
src/test
src/main/java/cn/hutaotao/article/mapper/
src/main/resources/temp/

src/main/webapp/*.html
/.settings/
