<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hutaotao.article.dao.ArticleMapper">
    <resultMap id="littleMap" type="Article">
        <id column="aid" property="aid" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="Article">
        <id column="aid" property="aid" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="pageTitle" property="pageTitle" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="previewImg" property="previewimg" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="BIGINT"/>
        <result column="modified" property="modified" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="views" property="views" jdbcType="INTEGER"/>
        <result column="commens" property="commens" jdbcType="INTEGER"/>
        <result column="allowCommon" property="allowcommon" jdbcType="INTEGER"/>
        <result column="allowSub" property="allowsub" jdbcType="INTEGER"/>
        <result column="word_number" property="wordNumber"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="Article" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <resultMap id="article_relation" type="Article" extends="ResultMapWithBLOBs">
        <!--配置懒加载select-->
        <association property="user" column="uid" select="cn.hutaotao.article.dao.UserMapper.lazyLoadUser"/>
        <association property="category" column="categoryid"
                     select="cn.hutaotao.article.dao.CategoryMapper.lazyLoadUser"/>
        <collection property="tagList" ofType="Tag" resultMap="cn.hutaotao.article.dao.TagMapper.BaseResultMap"/>
    </resultMap>

    <insert id="insertArticle" parameterType="Article">
        INSERT INTO article VALUES (
            #{aid}, #{title}, #{pageTitle}, #{content}, #{url}, #{previewimg}, #{created}, #{modified}, #{type},
                    #{state}, #{views}, #{commens}, #{allowcommon}, #{allowsub}, #{user.uid}, #{category.categoryid}
        )
    </insert>

    <select id="findArticleByUserPublished" resultMap="article_relation">
        SELECT *
        FROM article
        WHERE uid = #{uid} AND state = 1
        LIMIT 0, #{limit}
    </select>

    <select id="findArticleCountPublished" parameterType="String" resultType="Integer">
        SELECT count(*)
        FROM `article`
        WHERE uid = #{uid} AND state = 1
    </select>

    <select id="findArticleCount" parameterType="String" resultType="Integer">
        SELECT count(DISTINCT a.aid)
        FROM `article` a, article_tag_tbl att
        WHERE uid = #{uid}
        <if test="state!=null">
            AND state = #{state}
        </if>
        <if test="categoryId!=null">
            AND categoryId = #{categoryId}
        </if>
        <if test="tagId!=null">
            AND att.tagId = #{tagId} AND att.aid = a.aid
        </if>
    </select>

    <select id="findArticleAll" resultMap="article_relation">
        SELECT DISTINCT a.*,c.categoryId,c.categoryName,c.img
        FROM `article` a, article_tag_tbl att,category c
        WHERE c.categoryId = a.categoryId AND a.uid = #{uid}
        <if test="state!=null">
            AND a.state = #{state}
        </if>
        <if test="categoryId!=null">
            AND a.categoryId = #{categoryId}
        </if>
        <if test="tagId!=null">
            AND att.tagId = #{tagId} AND att.aid = a.aid
        </if>
        LIMIT #{startPos},#{pageSize}
    </select>
    <select id="findArticleById" resultMap="article_relation">
        SELECT
            a.*,
            u.uid,
            u.username,
            u.screen_name,
            u.word_number,
            u.resume,
            c.categoryName,
            t.tagName
        FROM
            article a,
            USER u,
            category c,
            article_tag_tbl att,
            tag t
        WHERE
            u.uid = a.uid
            AND c.categoryId = a.categoryId
            AND att.aid = a.aid
            AND att.tagId = t.tagId
            AND a.aid = #{aid}
    </select>

</mapper>
