<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hutaotao.article.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="cn.hutaotao.article.model.Article">
        <id column="aid" property="aid" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="pageTitle" property="pageTitle" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="previewImg" property="previewimg" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="BIGINT"/>
        <result column="modified" property="modified" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="views" property="views" jdbcType="INTEGER"/>
        <result column="commens" property="commens" jdbcType="INTEGER"/>
        <result column="allowCommon" property="allowcommon" jdbcType="INTEGER"/>
        <result column="allowSub" property="allowsub" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="cn.hutaotao.article.model.Article" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <resultMap id="article_relation" type="Article" extends="ResultMapWithBLOBs">
        <!--配置懒加载select-->
        <association property="user" column="uid" select="cn.hutaotao.article.dao.UserMapper.selectByPrimaryKey"/>
        <association property="category" column="categoryid"
                     select="cn.hutaotao.article.dao.CategoryMapper.selectByPrimaryKey"/>
        <collection property="tagList" ofType="Tag" resultMap="cn.hutaotao.article.dao.TagMapper.BaseResultMap"/>
    </resultMap>

    <insert id="insertArticle" parameterType="Article">
        INSERT INTO article VALUES (
            #{aid}, #{title}, #{pageTitle}, #{content}, #{url}, #{previewimg}, #{created}, #{modified}, #{type},
                    #{state}, #{views}, #{commens}, #{allowcommon}, #{allowsub}, #{user.uid}, #{category.categoryid}
        )
    </insert>

    <select id="findArticleByUser" parameterType="String" resultMap="article_relation">
        SELECT *
        FROM article
        WHERE uid = #{uid}
    </select>
    <select id="findArticleCount" parameterType="String" resultType="Integer">
        SELECT count(*)
        FROM `article`
        WHERE uid = #{uid};
    </select>

    <!--<sql id="Base_Column_List">-->
    <!--aid, url, previewImg, created, modified, type, state, views, commens, allowCommon,-->
    <!--allowSub, uid, categoryId-->
    <!--</sql>-->
    <!--<sql id="Blob_Column_List">-->
    <!--content-->
    <!--</sql>-->

</mapper>
