<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hutaotao.article.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="Comment">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="BIGINT"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="parent" property="parent" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="commentRelation" type="Comment" extends="BaseResultMap">
        <association property="user" column="uid" select="cn.hutaotao.article.dao.UserMapper.lazyLoadUser"/>
        <association property="article" javaType="Article">
            <id column="aid" property="aid"/>
        </association>
    </resultMap>
    <resultMap id="commentWithChild" type="Comment" extends="commentRelation">
        <collection property="childList" ofType="Comment" resultMap="commentRelation"/>
    </resultMap>

    <select id="findCommentCountByUserPrimary" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM comment c, article a
        WHERE c.aid = a.aid AND a.uid = #{articleUserId} AND c.state = 1
    </select>

    <select id="findCommentByUserPrimary" resultMap="commentRelation">
        SELECT
            c.*,
            u.uid,
            u.username,
            u.screen_name,
            u.state
        FROM comment c, article a, user u
        WHERE c.aid = a.aid AND a.uid = u.uid AND a.uid = #{uid} AND c.state = 1
        ORDER BY created DESC
        LIMIT 0, #{limit};
    </select>

    <select id="findCommentWithMyself" resultType="Integer" parameterType="String">
        SELECT COUNT(*)
        FROM comment
        WHERE uid = #{myId} AND state = 1
    </select>

    <select id="findCommentWithChild" resultMap="commentWithChild">
        SELECT
            c1.*,
            c2.*
        FROM
            `comment` c1
            LEFT JOIN `comment` c2 ON c2.parent = c1.id
        WHERE
            c1.parent = '0'
            AND c1.aid = #{aid}
            AND c1.state = 1
        LIMIT 0, #{limit};
    </select>

</mapper>