<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hutaotao.article.dao.TagMapper">
    <resultMap id="BaseResultMap" type="cn.hutaotao.article.model.Tag">
        <id column="tagId" property="tagid" jdbcType="VARCHAR"/>
        <result column="tagName" property="tagname" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="tagRelation" type="Tag" extends="BaseResultMap">
        <association property="user" javaType="User">
            <id column="uid" property="uid"/>
            <result column="userName" property="username"/>
            <result column="screenName" property="screenName"/>
        </association>
    </resultMap>

    <resultMap id="tagWithArticle" type="Tag" extends="BaseResultMap">
        <collection property="articleList" ofType="Article"
                    resultMap="cn.hutaotao.article.dao.ArticleMapper.littleMap"/>
    </resultMap>

    <insert id="insertTag" parameterType="Tag">
        INSERT INTO tag (tagId, tagName, uid, enable) VALUES (
            #{tagid}, #{tagname}, #{user.uid}, 'Y'
        )
    </insert>

    <insert id="insertArticle_Tag" parameterType="ArticleTagCustomer">
        INSERT INTO article_tag_tbl (id, aid, tagId) VALUES (
            #{id}, #{aid}, #{tagId}
        )
    </insert>
    <update id="updateTagById">
        update tag
        set tagName = #{tagname}
        where tagid = #{tagid}
    </update>
    <update id="deleteTagById">
        UPDATE tag
        SET enable = 'N'
        WHERE tagId = #{tagId}
    </update>

    <delete id="deletetArticle_Tag">
        DELETE FROM article_tag_tbl
        WHERE aid = #{aid}
    </delete>

    <select id="findTagByUser" resultType="Tag" parameterType="String">
        SELECT *
        FROM tag
        WHERE uid = #{uid} AND enable = 'Y'
    </select>

    <select id="findTagWithArticle" resultMap="tagWithArticle" parameterType="String">
        SELECT
            t.*,
            att.aid
        FROM tag t LEFT JOIN article_tag_tbl att
                ON t.tagId = att.tagId
        WHERE t.uid = #{uid} AND enable = 'Y'
        ORDER BY indexes
    </select>

    <select id="findTagByName" resultType="cn.hutaotao.article.model.Tag">
        SELECT *
        FROM tag
        WHERE tagName = #{tagName} AND enable = 'Y'
    </select>
    <select id="findTagById" resultType="cn.hutaotao.article.model.Tag">
        SELECT *
        FROM tag
        WHERE tagId = #{tagId} AND enable = 'Y'
    </select>

</mapper>
