<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hutaotao.article.dao.TagMapper">
    <resultMap id="BaseResultMap" type="cn.hutaotao.article.model.Tag">
        <id column="tagId" property="tagid" jdbcType="VARCHAR"/>
        <result column="tagName" property="tagname" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="tagRelation" type="Tag" extends="BaseResultMap">
        <association property="user" javaType="User">
            <id column="uid" property="uid"/>
            <result column="userName" property="username"/>
            <result column="screenName" property="screenName"/>
        </association>
    </resultMap>

    <insert id="insertTag" parameterType="Tag">
        INSERT INTO tag (tagId, tagName, uid) VALUES (
            #{tagid}, #{tagname}, #{user.uid}
        )
    </insert>

    <insert id="insertArticle_Tag" parameterType="ArticleTagCustomer">
        INSERT INTO article_tag_tbl (id, aid, tagId) VALUES (
            #{id}, #{aid}, #{tagId}
        )
    </insert>

    <select id="findTagByUser" resultType="Tag" parameterType="String">
        SELECT
            tagId,
            tagName
        FROM tag
        WHERE uid = #{uid}
    </select>

</mapper>
